@font-face {
    font-family: sleekfont;
    src: url("sleek.ttf");
  }
  @font-face {
    font-family: captionfont;
    src: url("captionfont.ttf");
  }


body {
    background-color: #00008b;
    background: linear-gradient(rgba(123, 120, 120, 0.5), rgba(0, 0, 0, 0.5)), 
              url('sleekbg.jpg');
  background-size: cover;
  background-position: center;
}
h1{
    color: #ffffff;
    font-family: sleekfont;
}
.part1{
    color: #ffffff;
  font-family: "Open Sans";
  font-family: sleekfont;
  font-size: large;
}
.part2{
    color: #ffffff;
  font-family: "Open Sans";
      font-family: sleekfont;
      font-size: large;
}
.caption{
    color: silver;
    font-family: captionfont;
    font-size: small;
}

